App_WebReferences/RitmZOrders/WSGetOrders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://localhost/DemoTrd/WS/Orders" xmlns:xsd2="http://localhost/DemoTrd/WS/OrderStates" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/DemoTrd/WS/OrderStates" name="WSGetOrders" targetNamespace="http://localhost/DemoTrd/WS/OrderStates" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://localhost/DemoTrd/WS/Orders" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/DemoTrd/WS/Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="char">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="val" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="quantity" type="xs:string" />
          <xs:element name="price" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="chars" type="tns:char" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="order">
        <xs:sequence>
          <xs:element name="id" nillable="true" type="xs:string" />
          <xs:element name="c_name" nillable="true" type="xs:string" />
          <xs:element name="c_contacts" nillable="true" type="xs:string" />
          <xs:element name="c_address" nillable="true" type="xs:string" />
          <xs:element name="d_date" nillable="true" type="xs:string" />
          <xs:element name="b_time" nillable="true" type="xs:string" />
          <xs:element name="e_time" nillable="true" type="xs:string" />
          <xs:element name="type_d" nillable="true" type="xs:string" />
          <xs:element name="o_state" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:item" />
          <xs:element name="incl_deliv_sum" nillable="true" type="xs:string" />
          <xs:element name="num_express" nillable="true" type="xs:string" />
          <xs:element name="dep_number" nillable="true" type="xs:string" />
          <xs:element name="descriptions" nillable="true" type="xs:string" />
          <xs:element name="email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="response">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="orders" nillable="true" type="tns:order" />
          <xs:element name="error" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs1="http://localhost/DemoTrd/WS/Orders" xmlns:xs2="http://localhost/DemoTrd/WS/OrderStates" elementFormDefault="qualified" targetNamespace="http://localhost/DemoTrd/WS/OrderStates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://localhost/DemoTrd/WS/Orders" />
      <xs:element name="ПолучитьЗаказы">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="НачалоПериода" nillable="true" type="xs:string" />
            <xs:element name="ОкончаниеПериода" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ПолучитьЗаказыResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="xs1:response" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ПолучитьЗаказыRequestMessage">
    <part name="parameters" element="tns:ПолучитьЗаказы" />
  </message>
  <message name="ПолучитьЗаказыResponseMessage">
    <part name="parameters" element="tns:ПолучитьЗаказыResponse" />
  </message>
  <portType name="WSGetOrdersPortType">
    <operation name="ПолучитьЗаказы">
      <input message="tns:ПолучитьЗаказыRequestMessage" />
      <output message="tns:ПолучитьЗаказыResponseMessage" />
    </operation>
  </portType>
  <binding name="WSGetOrdersSoapBinding" type="tns:WSGetOrdersPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ПолучитьЗаказы">
      <soapbind:operation soapAction="http://localhost/DemoTrd/WS/OrderStates#WSGetOrders:ПолучитьЗаказы" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WSGetOrdersSoap12Binding" type="tns:WSGetOrdersPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ПолучитьЗаказы">
      <soap12bind:operation soapAction="http://localhost/DemoTrd/WS/OrderStates#WSGetOrders:ПолучитьЗаказы" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSGetOrders">
    <port name="WSGetOrdersSoap" binding="tns:WSGetOrdersSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetOrders.1cws" />
    </port>
    <port name="WSGetOrdersSoap12" binding="tns:WSGetOrdersSoap12Binding">
      <soap12bind:address location="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetOrders.1cws" />
    </port>
  </service>
</definitions>